[Unit]
Requires=millllllll.service
After=millllllll.service
Description=A PI

[Service]
ExecStart=/usr/bin/flask run
WorkingDirectory=<PATH>/micro-tiling/micro-tiling/a_pi
StopWhenUnneeded=yes
