[Unit]
Requires=golfer.service
After=golfer.service
Description=Millllllll

[Service]
ExecStart=/usr/bin/python /home/traxys/python/micro-tiling/Millllllll/millllllll.py
WorkingDirectory=/home/traxys/python/micro-tiling/Millllllll
StopWhenUnneeded=yes
