alabaster==0.7.12
appdirs==1.4.3
Babel==2.6.0
psycopg2==2.7.7
CacheControl==0.12.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
distlib==0.2.8
distro==1.4.0
docutils==0.14
EasyProcess==0.2.3
Flask==1.0.2
future==0.17.1
greenlet==0.4.15
grpcio==1.18.0
html5lib==1.0.1
httpie==1.0.2
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
kiwisolver==1.0.1
lockfile==0.12.2
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
meson==0.49.2
msgpack==0.6.1
numpy==1.16.2
packaging==19.0
parso==0.3.3
pep517==0.5.0
pluggy==0.9.0
progress==1.5
progressbar2==3.39.2
protobuf==3.6.1
py3status==3.16
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.1
Pygments==2.3.1
pyinotify==0.9.6
pynvim==0.3.2
pyparsing==2.3.1
python-dateutil==2.8.0
python-gnupg==0.4.4
python-jsonrpc-server==0.1.2
python-language-server==0.24.0
python-utils==2.3.0
pytoml==0.1.20
pytz==2018.9
pyudev==0.21.0
PyVirtualDisplay==0.2.1
requests==2.21.0
retrying==1.3.3
rope==0.11.0
selenium==3.141.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.18
tzlocal==1.5.1
urllib3==1.24.1
webencodings==0.5.1
Werkzeug==0.14.1
Whoosh==2.7.4
yapf==0.26.0
