[Unit]
Description=Golfer Server

[Service]
ExecStart=<PATH>/micro-tiling/gopher/golfer.py
WorkingDirectory=/home/traxys/python/micro-tiling/gopher
StopWhenUnneeded=yes
